# NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your-id-here
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_DISTRIBUTOR_ADDRESS=0x626300b270705aF188Aa1a0d7F7084D98B89e46d
NEXT_PUBLIC_REWARD_TOKEN_ADDRESS=0xDE41931Eb4742187F015315a7388D3b4e8A7fB1d